
{{#if session.isAuthenticated}}

You are now logged in as  
{{email}}

{{else}}
{{xhr.responseText}}
<h4>Registration Form</h4>
<div class="regerror">
</div>
<form {{action register on='submit'}}>
  <p>
    {{input id='email' placeholder='email' value=email}}
  </p>
  <p>
    {{input id='password' placeholder='password' type='password' value=password}}
  </p>
  <button type="submit">Register</button>
</form>

  <p>or</p>
  <p>
    <button {{ action 'authenticateSession' }}>Login</button>
  </p>
{{/if}}